{% extends 'layout.html' %}
{% block body %}
  <div class='row'>
    <div class='col-5 mx-auto'>
      <h3>Add Movie</h3><hr>
      <form method='post' action='{{url_for("add_movie")}}'>
        <div class='form-group'>
            <label>Name</label>
            <input type='text' name='name' required class='form-control' value="{{g.name}}">
          </div>
          <div class='form-group'>
            <label>Max Size (MB)</label>
            <input type='text' name='max_size_mb' required class='form-control' value='10240'>
          </div>
          <div class='form-group'>
            <label>IMDB ID</label>
            <input type='text' name='imdbid' class='form-control' value="{{g.imdbid}}">
          </div>
          <div class='form-group'>
            <label>Cover url</label>
            <input type='text' name='cover_url' class='form-control'value="{{g.cover_url}}">
          </div>
          <div class='form-group'>
            <span class="input-group-addon">Resolution Profile</span>
              <select name="resolution_profile" class="selectpicker form-control">
                {% for option in g.resolution_options %}
                  {% if option == '1080p' %}
                    <option value="{{ option }}" selected>{{ option }} </option>
                  {% else %}
                    <option value="{{ option }}">{{ option }}</option>
                  {% endif %}
                {% endfor %}
              </select>
          </div>
          <input type='submit' value='Submit' class='btn btn-primary'>
      </form>
    
    </div>
  </div>
{% endblock %}