{% extends 'layout.html' %}
{% block body %}
  <div class='row'>
    <div class='col-5 mx-auto'>
      <h3>Add Series</h3><hr>
      <form method='post' action='{{url_for("add_series")}}'>
        <div class='form-group'>
            <label>Name</label>
            <input type='text' name='name' required class='form-control'>
          </div>
          <div class='form-group'>
            <label>Max Size of episode (MB)</label>
            <input type='text' name='max_season_size_mb' required class='form-control' value='10240'>
          </div>
          <div class='form-group'>
            <span class="input-group-addon">Resolutions</span>
              <select name="resolutions" class="selectpicker form-control">
                {% for option in g.resolution_options %}
                  {% if option == g.resolutions %}
                    <option value="{{ option }}" selected>{{ option }} </option>
                  {% else %}
                    <option value="{{ option }}">{{ option }}</option>
                  {% endif %}
                {% endfor %}
              </select>
          </div>
          <input type='submit' value='Submit' class='btn btn-primary'>
      </form>
    
    </div>
  </div>
{% endblock %}