{% extends 'layout.html' %}

{% block body %}

  <main role="main" class="flex-shrink-0">
    <div class="container">
      <h1 class="mt-5">Automated torrent searching</h1>
      <p class="lead">Add movies and TV series to initialize the search. Don't forget to select the desired <code>resolution-profiles</code> when adding new entries for the desired resolution.</p>
      <p>Contribute: <a href="https://github.com/aFoxPod/torrent-bot">GitHub by Pedro Chaves (aka FoxPod)</a></p>
    </div>
  </main>
{% endblock %}